html {
    height: 100%;
}

body {
    min-height: 100%; 
    height: fit-content;
    background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/34/17/kUoKmL.jpg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
}
form{

    border-radius: 5%;
    border-color: white;
    margin-top: 2%;
    width: 25em;
    text-align: center;
    border: 2px solid ;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 12px;
    background-color: #0d1626be;
}