<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="sticky-footer.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/navbars/">

    <title>Add Event</title>
</head>

<body>
<nav class="p-2" style="background-color:#1a031d62;">
    <th:block th:include="~{/fragments/nav}"></th:block>
</nav>
<main class="text-center">

    <div style="margin-bottom: 100px;margin-top: 5%"
         th:object="${event}"
         class="btn-container-style text-center d-inline-block modal-dialog-scrollable outside-div">
        <div class="d-inline-block  text-left mt-5 container-style detail"
             th:style="|background-image:url(*{getGame().getImageUrl()});|">
            <div class="h-100 inside-el " style="opacity: 1;">
                <div style="display: inline-block;width: 45%;height: 70%" >
                    <h6 style="font-size: 25px" th:text="|Owner's nick : *{getOwner().getUsernameInGame()}|" class="card-title">Card title</h6>
                    <p th:text="|Devision : *{getDevision()}|" class="card-text"></p>
                    <p th:text="|Players needed : *{getNumberOfPlayers() + 1 - getPlayers().size()}|" class="card-text"></p>
                    <p th:text="|Starts on : *{getStartDate()}|" class="card-text"></p>
                    <p th:text="|Ends on : *{getDueDate()}|" class="card-text"></p>
                    <p th:text="|Description : *{getDescription()}|" class="card-text"></p>
                </div>
                <div style="display: inline-block;width: 45%;height: 70%;vertical-align:top;" class="text-left">
                    <h6 style="font-size: 25px" class="card-text">Players for this event:</h6>
                    <ul>
                        <li style="font-size: 20px;" th:each=" p : *{getPlayers()}" th:text=" ${p.getUsernameInGame()}" class="card-text ml-4"></li>
                    </ul>

                </div>
                <div style="position:relative;"  th:if="*{(getNumberOfPlayers() - getPlayers().size()) > 0} "
                     th:unless="${session.user.getUserName() == event.getOwner().getUser().getUserName()}" id="last">

                    <form class="mt-5 text-left form-event" th:action="@{/game/add/player/(id =*{getId()})}" method="POST">
                        <div class="text-left">
                            <p style="color: lawngreen; margin-left: 5%" class="card-text mb-3">Your nick name :</p>
                        </div>
                        <input style="margin-left: 5%;width: 70%; margin-bottom: 4%" type="text" name="userNick" id="username"
                               class="form-control is-invalid d-inline-block"
                               aria-describedby="validatedInputGroupPrepend"
                               required>
                        <button  class="btn btn-primary border-0 mb-1 bg-dark mr-2 btn-lg ml-3" type="submit">I'm in</button>
                    </form>
                </div>
                <div style="position:relative; "
                     th:if="${session.user.getUserName() == event.getOwner().getUser().getUserName()}" id="last">
                    <a th:href="@{/game/delete/(id =*{getId()})}" class="btn btn-primary border-0 bg-danger btn-lg mt-5 ml-3"
                       style="padding: 0.23em;margin-bottom: 4.5px">Delete</a>
                </div>

            </div>
        </div>
    </div>


</main>
<footer class="footer p-3 text-center" style="background-color:#1a031d38;">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>

</html>