<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
    <title>Registration</title>
</head>

<body>
    <nav class="p-2" style="background-color:#1a031d62;">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
    <div class="text-center" style="margin-top: 5%;">
        <h1 class="text-light">Register</h1>
    </div>
    <div class=" d-block text-center">
        <!--/*@thymesVar id="userAddBindingModel" type="gamehub.demo.model.binding.UserAddBindingModel"*/-->
        <form  class="d-inline-block"
              th:object="${userAddBindingModel}" th:action="@{/user/register}" method="POST">
            <div class="form-col">
                <div class="col-md-12 mb-2">
                    <div>
                        <small th:if="${userExist}"   style="color: red;font-size:15px">Username or email are already taken!</small>
                    </div>
                    <label style="color: white;" for="validationServer01">Username</label>
                    <input type="text" name="userName" class="form-control" id="validationServer01"
                           th:field="*{userName}" required>

                    <div class="valid-feedback">
                        <small th:each="e : ${#fields.errors('userName')}" th:text="${e}"
                               style="color: red;font-size:15px">Looks good!</small>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label style="color: white;" for="validationServer01">Email</label>
                    <input type="email" name="email" class="form-control" id="validationServer01"
                           th:field="*{email}"
                        required>
                    <div class="valid-feedback">
                        <small  th:each="e : ${#fields.errors('email')}" th:text="${e}"
                                style="color: red;font-size:15px">Looks good!</small>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label style="color: white;" for="validationServer02">Password</label>
                    <input type="password" name="password" class="form-control" id="validationServer02"
                         required>

                    <div class="valid-feedback">
                        <small  th:each="e : ${#fields.errors('password')}" th:text="${e}"
                                style="color: red;font-size:15px">Looks good!</small>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label style="color: white;" for="validationServer02">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" id="validationServer02"
                       required>

                </div>
            </div>
            <button class="btn btn-primary border-0 bg-dark btn-lg" type="submit">Let's Go</button>
        </form>
    </div>


    <footer class="footer p-3 text-center" style="background-color:#1a031d38;">
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>

</html>